
/*-----------Control de Leyenda y Título------------------*/
body {
    margin: 0;
    overflow: hidden;
}

#movibleDiv {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    cursor: move;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: height 0.3s ease; /* Agregamos una transición para la animación suave del cambio de altura */
}

#movibleDiv.minimized {
    height: 20px; /* Altura predeterminada minimizada */
}

#movibleDiv.minimized header {
    height: 20px; /* Ajustar también la altura del header cuando está minimizado */
}

#movibleDiv header {
    padding: 5px;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

#movibleDiv header:hover {
    background-color: #0b7dda;
}

#left-menu {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.3s ease;
    width: 150px;
    height: 500px; /* Altura predeterminada maximizada */
    overflow: hidden;
}

#left-menu.minimized {
    height: 20px; /* Altura del menú minimizado */
    overflow: hidden;
}

#left-menu.minimized .menu-button,
#left-menu.minimized #left-input,
#left-menu.minimized select {
    display: none;
}

#map {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}