@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
    margin: 0;
    overflow: hidden;
}


body{
    font-family: 'Nunito', sans-serif;
  }

.buttonRow{
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    width: 150px;
}
.text-center {
  text-align: left;
}
#movibleDivLeft {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    cursor: move;
    bottom: 10px;
    left: 1%;
    z-index: 2;
    width: 150px; /* Ancho predeterminado minimizado */
    height: 15px; /* Altura predeterminada minimizada */
    transition: all 0.3s ease; /* Transición suave para animación */
    padding: 2px ;
}

#movibleDivLeft.maximized {
    width: 200px; /* Ancho máximo */
    height: 400px; /* Altura máxima */
}

#movibleDivLeft header {
    padding: 1px;
    background-color: #2196F3;
    color: #fff;
    cursor: grab; /* Cambiamos el cursor para indicar que se puede arrastrar */
    border-radius: 8px;
    user-select: none; /* Evitamos la selección de texto durante el arrastre */
    text-align: center;
    
}

#movibleDivLeft header:hover {
    background-color: #0b7dda;
}

#movibleDivLeft.minimized .content {
    visibility: hidden;
    height: 0;
}

.content {
    padding: 10px;
    visibility: visible;
    transition: all 0.3s ease; /* Añadir transición suave para animación */
    width: 200px;
    
}

  /* Estilos para el movibleDiv derecho */
  #movibleDivRight {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    cursor: move;
    bottom: 10px;
    right: 1%;
    z-index: 2;
    width: 150px; /* Ancho predeterminado minimizado */
    height: 15px; /* Altura predeterminada minimizada */
    transition: all 0.3s ease; /* Transición suave para animación */
    padding: 2px ;
}

#movibleDivRight.maximized {
    width: 200px; /* Ancho máximo */
    height: 400px; /* Altura máxima */
}

#movibleDivRight.minimized header {
    height: 20px; /* Ajustar la altura del encabezado en modo minimizado */
}

#movibleDivRight header {
    padding: 1px;
    background-color: #2196F3;
    color: #fff;
    cursor: grab; /* Cambiamos el cursor para indicar que se puede arrastrar */
    border-radius: 8px;
    user-select: none; /* Evitamos la selección de texto durante el arrastre */
    text-align: center;
}

#movibleDivRight header:hover {
    background-color: #0b7dda;
}

#movibleDivRight.minimized .content {
    visibility: hidden;
    height: 0;
}

.content {
    padding: 10px;
    visibility: visible;
    transition: all 0.3s ease; /* Añadir transición suave para animación */
}


.rainbow{
    background-color: #f1f1f1;
    border-radius: 4px;  
    color: #010101;
    cursor: pointer;
    padding: 1px 1px;
    margin: 1px 1px;
    width: 200px;



    
  }
  .rainbow-1:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
    width: 200px;

 }

 .rainbow.active {
    background-color: #00ff00; /* Color de fondo cuando está activo (presionado) */
}

 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }



#dropdownMenu {
    margin-top: 10px;
}

#map {
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}